{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}">

    <title>Success</title>
</head>
<body>

    <div class="container mt-3" style="margin-top: 70px;">
        <h1>Your payment was successful</h1>
        <p>Your payment has been processed successfully.</p>

        <br><br><br><br>
        <a href="{% url 'home' %}" style="text-align: center;" class="btn btn-lg btn-default">Go to home</a>
    </div>

</body>
</html>